html, body {scroll-behavior: smooth; margin: 0; padding: 0; height: 100%; text-align: center;}

.section {min-height: 100%;}

a {text-decoration: none;}
li {list-style-type: none;}
body, h1, h2, h3, a {font-family: 'Roboto', sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h4, p {font-family: 'Roboto Slab', serif;}
h1 {font-size: 120px; line-height: 150%; letter-spacing: 1.5px; word-spacing: 1.5px;}
h2 {font-size: 40px; line-height: 150%;letter-spacing: 1px; word-spacing: 1px; color: #5d7177;}
h3 {font-size: 40px; line-height: 150%; letter-spacing: 1px; word-spacing: 1px; padding-top: 8%; margin-bottom: 5px;}
h4 {font-size: 20px; line-height: 150%; letter-spacing: 1px; word-spacing: 1px;}
p {font-size: 17px; line-height: 160%; letter-spacing: 1px; word-spacing: 1px;}
hr {width: 40px; height: 3px; background: #494949; border: 0; margin: 0 auto 40px auto;}

#logos, li, img, .button, .Menü {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}
.Menü {display: none;}



/*  HEADER *********************************************/

header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#logos {
    width: 200px;
    float: left;
    margin: 0 0 0 40px;
}

#logos ul {
    padding: 0;
}

#logos ul li {
    width: 25%;
    float: left;
    margin: 0 auto 0 auto;
}

#logos img {
    width: 30px;
}

header img:hover {
    opacity: 0.5;
}



header nav {
    float: right;
    margin: 8px 40px 0 0;
}

header nav ul li {
    float: left;
    margin-left: 25px;
}

header nav ul li a {
    font-size: 16px;
}

header nav ul li:hover {
    padding-top: 5px;
}





/*  VERTICAL NAV     *********************************************/

.vertical-nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--nav-gap);
}

.nav-link:hover ~ .nav-label {
    opacity: 0.5;
}

.nav-label {
    color:#494949;
    font-weight: regular;
    opacity: 0;
    transition: opacity 0.1s;
}

.nav-link {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.2s;
    width: var(--nav-gap);
    transform: scale(0.7);
}

.nav-link-selected {
    background: #494949;
    transform: scale(1);
}






/*  HOME     *********************************************/

#home {
    /*background: url(../img/landing.jpg); */
    background: #f0f0f0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#home h1 {
    margin: 180px auto 0 auto;
}

#home h2 {
    margin: 0 auto 0 auto;
}

#home img {
    margin-top: 50px;
    width: 200px;
}

.pfeil {
    width: 32px;
    height: 50px;
    opacity: 1;
}

.pfeil:hover {
    opacity: 0.7;
}




/*  ABOUT     *********************************************/

#about img {
    width: 240px;
    border-radius: 5px;
}

#about img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#about h4 {
    font-size: 25px;
}

#about p {
    width: 80%;
    margin: 0 auto 0 auto;
}




/*  PROJECTS     *********************************************/

#projects {
    background-color: #f0f0f0;
    min-height: 280%;
    margin: 0 auto 0 auto;
}

#gallery {
    width: 900px;
    margin: 0 auto 0 auto;
}

#gallery ul {
    padding: 0;
}

#gallery ul li {
    width: 33.3%;
    float: left;
    margin-bottom: 15px;
}

#gallery img {
    width: 280px;
    height: auto;
    border-radius: 5px;
}

#gallery img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
}




/*  CONTACT     *********************************************/


#logos_contact {
    width: 300px;
    margin: 50px auto 80px auto;
}

#logos_contact ul {
    padding: 0;
}

#logos_contact ul li {
    width: 33.3%;
    float: left;
}

#logos_contact img {
    width: 50px;
}

#logos_contact img:hover {
    opacity: 0.5;
}

#contact p {
    width: 80%;
    margin: 0 auto 0 auto;
}


::-webkit-input-placeholder {color: #999999;}
::-moz-placeholder {color: #999999;}
:-ms-input-placeholder {color: #999999;}
:-moz-placeholder {color: #999999;}




/*  FOOTER     *********************************************/

footer {
    width: 100%;
    height: 70px;
    background-color: #3f3f3f;
}

footer p {
    font-size: 12px;
    color: #f0f0f0;
    padding-top: 30px;
}

footer a {
    font-family: 'Roboto Slab', serif;
    color: #f0f0f0;
}




/*  MEDIA QUERIES *********************************************/


/*  TABLETS *********************************************/

@media screen and (max-width: 1024px) {
    header {
        height: 60px;
    }

    #logos {
        max-width: 130px;
        margin: 3px 0 0 30px;
    }

    #logos ul {
        padding: 0;
    }
    
    #logos ul li {
        width: 25%;
        float: left;
        margin: 0 auto 0 auto;
    }
    
    #logos img {
        width: 20px;
    }

    header nav {
        float: right;
        margin: 8px 30px 0 0;
    }

    header nav ul li {
        font-size: 12px;
        margin-left: 15px;
    }

    #home h1 {
        font-size: 65px;
        margin-top: 200px;
    }

    #home h2 {
        font-size: 22px;
    }

    h3 {
        padding-top: 12%;
    }

    #projects {
        min-height: 200%;
    }

    #gallery {
        width: auto;
        margin: 0 100px 0 100px;
    }

    #gallery ul li {
        width: 50%;
        float: left;
        margin: 0 auto 20px auto;
    }

    #gallery ul li:last-child {
        padding-bottom: 20%;
    }

    #gallery img {
        width: 90%;
        height: auto;
    }

    form input, form textarea {
        width: 60%;
    }

    .button {
        width: 63%;
    }
}


/*  MOBILE *********************************************/

@media screen and (max-width: 480px) {
    #logos {
        width: 130px;
        margin-left: 30px;
    }

    header nav {
        margin: 0;
        float: none;
    }

    .Menü {
        display: inline-block;
        width: 30px;
        cursor: pointer;
        text-align: right;
        float: right;
        margin: 27px 30px 28px 0;
    }

    .Menü:hover {
        opacity: 0.5;
    }

    header nav ul {
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header nav ul.open {
        height: auto;
    }

    header nav ul li {
        width: 100%;
        padding: 5px 0;
        margin: 0;
        font-size: 15px;
        border-top: 1px solid #dddddd;
        background-color: #fff;
    }

    header nav ul li:hover {
        background-color: #eeeeee;
    }

    #home h1 {
        font-size: 50px;
        margin-top: 200px;
    }

    #home h2 {
        width: 60%;
        height: auto;
    }

    h3 {
        padding-top: 20%; 
    }

    #projects {
        min-height: 150%;
    }

    #gallery {
        width: auto;
    }

    #gallery ul li {
        width: 100%;
        margin: 0 auto 10px auto;
        float: none;
    }

    #gallery img {
        width: 80%;
        height: auto;
    }

    form input, form textarea {
        width: 70%;
    }

    .button {
        width: 74%;
    }
}





@media screen and (max-width: 400px) {
    #home h1 {
        font-size: 40px;
        margin-top: 200px;
    }

    #home h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 25px;
    }

    #about h4 {
        font-size: 20px;
    }

    #about p {
        font-size: 15px;
        width: 70%;
    }

    #gallery {
        margin: 0 70px 0 70px;
    }

    #contact p {
        font-size: 15px;
        width: 70%;
    }
}