html, body {scroll-behavior: smooth; margin: 0; padding: 0; height: 100%; text-align: center; hyphens: auto; box-sizing: border-box;}

.section {height: auto; min-height: 100%;}

a {text-decoration: none;}

li {list-style-type: none;}
h1, h2, h3, header a, span {font-family: 'Roboto', sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h4, p, a {font-family: 'Roboto Slab', serif; color: #494949}
h1 {font-size: 120px; line-height: 150%; letter-spacing: 1.5px; word-spacing: 1.5px;}
h2 {font-size: 40px; line-height: 150%;letter-spacing: 1px; word-spacing: 1px; color: #007878;}
h3 {font-size: 40px; line-height: 150%; letter-spacing: 1px; word-spacing: 1px; padding-top: 8%; margin-bottom: 5px;}
h4 {font-size: 20px; line-height: 150%; letter-spacing: 1px; word-spacing: 1px;}
p {font-size: 20px; line-height: 150%; letter-spacing: 1px; word-spacing: 1px;}
hr {width: 40px; height: 3px; background: #494949; border: 0; margin: 0 auto 40px auto;}

#about, #logos, li, img, .Menü {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}
.Menü {display: none;}





/*  OVERLAY *********************************************/

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay-text {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    text-align: justify;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay-button {
    font-family: 'Roboto';
    font-size: 15px;
    background-color: white;
    border: solid #ffffff;
    border-radius: 100vmax;
    color: #494949;
    width: 120px;
    height: 50px;
    margin-top: 70vh;
}

#overlay-button:hover {
    background-color: #494949;
    color: white;
    transition: .3s;
    cursor: pointer;
}




/*  HEADER *********************************************/

header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#logos {
    width: 200px;
    float: left;
    margin: 0 0 0 40px;
}

#logos ul {
    padding: 0;
}

#logos ul li {
    width: 25%;
    float: left;
    margin: 0 auto 0 auto;
}

#logos img {
    width: 30px;
}

header img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));
}



header nav {
    float: right;
    margin: 8px 40px 0 0;
}

header nav ul li {
    float: left;
    margin-left: 25px;
}

header nav ul li a {
    font-size: 16px;
}

header nav ul li:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
}





/*  VERTICAL NAV     *********************************************/

.vertical-nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.nav-item {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--nav-gap);
}

.nav-link:hover ~ .nav-label {
    opacity: 0.5;
}

.nav-label {
    color:#494949;
    font-size: 15px;
    font-weight: regular;
    opacity: 0;
    transition: opacity 0.1s;
}

.nav-link {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: 10px;
    transition: transform 0.2s;
    width: var(--nav-gap);
    transform: scale(0.7);
}

.nav-link-selected {
    background: #494949;
    transform: scale(1);
}






/*  HOME     *********************************************/

#home {
    /*background: url(../img/landing.jpg); */
    background: #f0f0f0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#home h1 {
    margin: 8% auto 0 auto;
}

#home h2 {
    margin: 0 auto 0 auto;
}

#home img {
    margin-top: 50px;
    max-width: 11%;
}

#home a .pfeil {
    width: 50px;
    height: auto;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.3));
}

#home a .pfeil:hover {
    padding-top: 5px;
    filter: none;
}






/*  ABOUT     *********************************************/

#about a {
    color: #007878;
}

#about h4 {
    margin: 0;
}   

#about p {
    margin: 0;
    padding: 2% 0 4% 0;
}

#about a:hover {opacity: 0.7;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

#about-container {
    /* border: solid red; */
    display: flex;
    width: 70%;
    margin: 0 auto 0 auto;
}

#about-container-item1 {
    /* border: solid #007878; */
    width: 30%;
    justify-content: left;
    margin: auto;
}

#about-container-item1 img {
    max-width: 70%;
    border-radius: 100vmax;
}

#about-container-item2 {
    /* border: solid green; */
    width: 60%;
    justify-content: right;
    text-align: justify;
    margin: auto auto auto 0;
}

.about-container-item2-logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2% 0 4% 0;
}

.about-logos {
    /* border: solid #007878; */
    width: 6%;
    padding: 0 2% 0 0;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.3));
}

.about-logos:last-child {
    padding: 0;
}


 




/*  PROJECTS     *********************************************/


#projects {
    background-color: #f0f0f0;
    margin: 0 auto 0 auto;
}

#projects h4 {
    padding: 2% 0 0 0;
}

#favorite {
    width: 60%;
    padding: 0 0 0 0;
    margin: 0 auto 0 auto;
}

#favorite video {
    border-radius: 5px;
    width: 100%;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 0 0 5% 0;
}


#gallery img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
}

#gallery img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}





/*  CONTACT     *********************************************/

#contact {
    min-height: 80%;
    margin: 0 auto 0 auto;
}

#contact-container {
    margin: 0 auto 0 auto;
    width: 50%;
}

#contact-logos {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 2% 0 10% 0;
}

#contact-logos ul {
    padding: 0;
}

#contact-logos ul li {
    width: 33.3%;
    float: left;
}

#contact-logos img {
    max-width: 40%;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.3));
}

#contact-logos img:hover {
    padding-top: 5px;
    filter: none;
}

#contact p {
    text-align: justify;
    padding: 2% 0 0 0;
}

#contact a {
    color: #007878;
}

#contact a:hover {
    opacity: 0.7;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}



::-webkit-input-placeholder {color: #999999;}
::-moz-placeholder {color: #999999;}
:-ms-input-placeholder {color: #999999;}
:-moz-placeholder {color: #999999;}




/*  FOOTER     *********************************************/

footer {
    width: 100%;
    height: 70px;
    background-color: #3f3f3f;
}

footer p {
    font-size: 12px;
    color: #f0f0f0;
    padding-top: 30px;
    text-transform: uppercase;
}

footer a {
    font-family: 'Roboto Slab', serif;
    color: #f0f0f0;
}

footer a:hover {
    opacity: 0.7;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}










/*  IMPRINT     ********************************************/

#legal h3 {
    margin-bottom: 15px;
}

#legal p {
    width: 800px;
    margin: 20px auto 50px auto;
    text-align: justify;
}

#legal a {
    color: #007878;
}

#legal a:hover {
    opacity: 0.7;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}




/*  PRIVACY     ********************************************/

#privacy h3 {
    margin-bottom: 15px;
}

#privacy p {
    width: 800px;
    margin: 20px auto 50px auto;
    text-align: justify;
}

#privacy a {
    color: #007878;
}

#privacy a:hover {
    opacity: 0.7;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}
















/*  MEDIA QUERIES *********************************************/


/*  TABLETS *********************************************/

@media screen and (max-width: 1024px) {    
    
    h3 {
        padding-top: 12%;
    }

    header {
        height: 60px;
    }

    #logos {
        max-width: 130px;
        margin: 3px 0 0 30px;
    }

    #logos ul {
        padding: 0;
    }
    
    #logos ul li {
        width: 25%;
        float: left;
        margin: 0 auto 0 auto;
    }
    
    #logos img {
        width: 20px;
    }

    header nav {
        float: right;
        margin: 8px 30px 0 0;
    }

    header nav ul li {
        font-size: 12px;
        margin-left: 15px;
    }



    #home h1 {
        font-size: 65px;
        margin-top: 40%;
    }

    #home h2 {
        font-size: 22px;
    }

    #home img {
        max-width: 20%;
    }



    #about-container {
        display: block;
    }
    
    #about-container-item1 {
        width: 70%;
        margin: 0 auto 0 auto;
    }
    
    #about-container-item2 {
        width: 100%;
        margin: 10% auto 0 auto;
    }

    .about-container-item2-logos {
        justify-content: center;
    }
    
    #about h4 {
        text-align: center;
    }

    #gallery {
        grid-template-columns: auto auto auto;
        gap: 20px;  
    }

    #gallery img {
        height: 200px;
    }



    #contact-container {
        width: 70%;
    }






    #imprint h3 {
        margin-bottom: 15px;
    }

    #imprint p {
        width: 400px;
        margin: 20px auto 50px auto;
        text-align: left;
    }




    #privacy h3 {
        margin-bottom: 15px;
    }

    #privacy p {
        width: 400px;
        margin: 20px auto 50px auto;
        text-align: left;
    }
}





/*  MOBILE *********************************************/

@media screen and (max-width: 480px) {
    
    #overlay-text {
        font-size: 20px;
        width: 60%;
    }

    #overlay-button {
        font-size: 12px;
        width: 100px;
        height: 40px;
    }



    h3 {
        font-size: 25px;
        padding-top: 20%;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
    


    #logos {
        width: 130px;
        margin-left: 30px;
    }

    header nav {
        margin: 0;
        float: none;
    }

    .Menü {
        display: inline-block;
        width: 30px;
        cursor: pointer;
        text-align: right;
        float: right;
        margin: 26px 30px 28px 0;
    }

    header nav ul {
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header nav ul.open {
        height: auto;
    }

    header nav ul li {
        width: 100%;
        padding: 5px 0;
        margin: 0;
        font-size: 15px;
        border-top: 1px solid #dddddd;
        background-color: #fff;
    }

    header nav ul li:hover {
        background-color: #eeeeee;
    }



    #home h1 {
        font-size: 50px;
        margin-top: 50%;
    }

    #home h2 {
        width: 60%;
        height: auto;
    }

    #home img {
        max-width: 40%;
    }





    #favorite {
        width: 70%;
    }

    #gallery {
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .about-logos {
        width: 10%;
    }






    #contact-logos {
        width: 70%;
        padding: 2% 0 15% 0;
    }

}





@media screen and (max-width: 400px) {
    
    #home h1 {
        font-size: 40px;
        margin-top: 50%;
    }

    #home h2 {
        font-size: 18px;
    }

    

    footer p {
        font-size: 8px;
    }
}